Source: huayra-hotfix
Section: system
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://huayra.conectarigualdad.gob.ar

Package: huayra-hotfix
Architecture: all
Depends: ${misc:Depends}, debianutils (>= 4.3.2), xfonts-75dpi
Description: Hotfixes para Huayra
 Este paquete contiene scripts para correccion de errores.

